body {
  @include body-font;
//    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/bg.jpg');
  background-image: url('../img/background.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .footer-link ul {
  margin: 0;
  padding: 0;
  position: relative;
}

footer .footer-link ul li {
  list-style: none;
  display: inline-block;
  padding: 22px;
  font-size: 14px
}

footer .footer-link ul li a {
  color: #5a5a5a;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

footer .footer-link ul li a:hover {
  color: #417565;
}

footer .footer-copyright {
  padding-top: 16px;
}

footer .footer-copyright p {
  padding-top: 8px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #5a5a5a;
    border-radius: 100px;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

.social-icon li a:hover {
    /*background: #417565;*/
    color: #417565;
    /*top: -5px;*/
}




